html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: fantasy;
    font-size: 58px;
    font-weight: 300;
    text-align: center;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(145deg, #658D1B 15%, #658D1B 90%);
    padding:24px;
    border-radius: 25px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #1D252D;
    font-size: 0;
    color: #236192;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 #000000;
}

.deck .card.open {
    transform: rotateY(180);
    background: #ffffff;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
  animation: pulse 1s infinite;
  animation-iteration-count: 3;
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}
@keyframes pulse {
  0%,100% {
    background-color: #02ccba;
  }
  50% {
    background-color: #ffffff;
  }

}

/*
 * Styles for the Score Panel
 */
.header {
    text-align: center;
    width: 60%;
    display: inline-block;
    background: linear-gradient(145deg, #658D1B 15%, #658D1B 90%);
    padding: 15px;
    border-radius: 25px;
    color: #02ccba;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1em;
}
.score-panel {
    text-align: center;
    width: 100%;
    display: inline-block;
    background: linear-gradient(145deg, #1D252D 15%, #1D252D 90%);
    padding: 15px;
    border-radius: 25px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    width:45%;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    width:100%;
    cursor: pointer;
}
.moves {
  width: 45%;
  text-align: center;
  display: inline-block;
}
.stars {
  width: 50%;
}
.restart {
  width: 100%
}
.timer {
  width: 45%;
  display: inline-block;
}
.time {
  width:45%;
  display: inline-block;
}
.overlay {
     display:none;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}
.overlay div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

@media (min-width:1000px){
  .container{
    display:flex-wrap;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  h1{
    width:100%;
    text-align: center;
  }
  .header {
    display: flex;
    width:20%;
    min-height:680px;
    font-size: 110%;
    justify-content: center;
    margin: 0 0 3em;

  }
  .score-panel{
    min-height: 600px;
  }
  .deck{
    display: flex;
  }
  .timer{
    width: 100%;
  }
  .moves{
    width: 100%;
  }
  .score-panel .stars {
    width:100%
  }
  .time{
    display:none;
  }
}
@media (min-width:900px) and (max-width:999) {
  .container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  h1{
    width:100%;
    text-align: center;
  }
  .header {
    display: flex;
    width:150px;
    min-height:500px;
  }
  .score-panel{
    min-height: 450px;
  }
  .deck{
    display: flex;
  }
  .timer{
    width: 100%;
  }
  .moves{
    width: 100%;
  }
  .score-panel .stars {
    width:100%
  }
  .time{
    display:none;
  }
}
@media (max-width:768px) and (min-width:500px) {
  .deck{
    width: 500px;
    padding: 18px;
    min-height: 500px;
  }
  .deck .card {
    width:100px;
    height:100px;
    padding: 0px;
  }

}
@media (max-width:499px) {
  h1{
    text-align: center;
    font-size: 24px;
    font-family: fantasy;
  }
  .header{
    width:250px;
  }
  .deck{
    width:250px;
    min-height: 250px;
    padding:8px;
  }
  .deck .card {
    width: 50px;
    height: 50px;
    padding:0px;
  }
}
